:root{}

.popular__forms{
    &--links{
        padding: 35px 30px 19px 30px;
        h3{
            color: var(--greenColor);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1em;
            margin-bottom: 10px;
        }
    }
    &--download{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}
#select__form{
    &--input{
      width: 100%;
      max-width: 350px;
    }
}

#popular__form_download{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.docdownload{
    height: 55px;
    width: 25%;
    outline: none;
    background-color: var(--goldColor);
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
}
#forms-container{
  height: 50px;
  padding: 0 .5em;
  width: 100%;
  border: none;
  background-color: #41505d12;
  outline: none;
}
